<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
</head>
<body>
<div class="Lane">
    <div class="Toll_cls">
      <form class="form_" action="/" method="post">
          <br><br><br>
          <H1 class ="disp-text">Your Complaint ID is {{comp_id}}</H1>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <h6 class ="disp-text">(The ID is sent to you via sms and email for reference)</h6>
      </form>
    </div>
</div>
</body>
</html>