<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Complaint_ID</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/style2.css')}}">
</head>
<body>
<div class="Lane">
    <div class="Toll_cls">
      <form class="form_" action="/status" method="post">
          <input name="comp_id" type="text" placeholder="ENTER COMPLAINT ID"/>
          <input id="submit" type="submit" onclick="myFunction();" value="GO"/>
      </form>
    </div>
</div>
</body>
</html>