body{
 background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(bg_image.jpg);
 height:100vh;
 background-size=cover;
 background-position:center;
}
.Lane{
    width:360px;
    padding:10% 0 0;
    margin:auto;
}
.form_{
    position:relative;
    z-index:1;
    background:rgba(10,10,10,0.5);
    max-width:360px;
    margin:0 auto 100px;
    padding:30px;
    text-align:center;
}
.form_ input{
    font-family:"Roboto",sans-seriff;
    outline:1;
    background:#f2f2f2;
    width:100%;
    border:0;
    margin:0 0 15px;
    padding:15px;
    box-sizing:border-box;
    font-size:14px;
}
#submit{
    font-family:"Roboto",sans-seriff;
    text-transform:uppercase;
    outline:0;
    background:rgba(100,100,100,0.3);
    width:75%;
    border:0;
    color:rgba(200,200,200,0.9);
    padding:15px;
    font-size:15px;
    cursor:pointer;
}
.scan{
    position:relative;
    z-index:1;
    padding:15px;
    background:rgba(10,10,10,0.5);
    outline:1;
}
.result{
    position:relative;
    text-align:center;
    z-index:1;
    padding:15px;
    background:rgba(10,10,10,0.5);
    color:rgba(200,200,200,0.9);
    outline:1;
}
.a{
position:relative;
    width:1%;
    border:0;
    color:rgba(200,200,200,0.9);
}